* {
    margin: 0;
    padding: 0;
}

.calculator {
    width: 400px;
    height: 100%;
    background-color: rgb(241, 241, 241);
    overflow: hidden;
    margin: 0 auto;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.screen1 {
    height: 50px;
    line-height: 50px;
    margin-top: 50px;
    font-size: 20px;
    color: yellowgreen;
}
.screen2 {
    height: 100px;
    font-size: 50px;
    line-height: 100px;
    color: #000;
    font-weight: 600;
}
span {
    float: right;
}

.M {
    margin-top: 20px;
    height: 30px;
    /* 另外一丢丢高度被吃掉了？ */
}

.M li {
    width: 65px;
    line-height: 30px;
    list-style: none;
    float: left;
    text-align: center;
    font-size: 10px;
}

.m {
    color: rgb(192, 192, 192);
}

.m1 {
    font-weight: 600;
}

.c1{
transition: all 0.5s;
}
.c1:hover {
    background-color: rgb(214, 212, 212);
}

.row {
    height: 80px;
}

.row li {
    width: 100px;
    height: 80px;
    line-height: 70px;
    list-style: none;
    float: left;
    text-align: center;
    border: 2px solid rgb(241, 241, 241);
    box-sizing: border-box;
}

.u1 {
    font-size: 20px;
    background-color: rgb(245, 245, 245);
}

.u2 {
    font-size: 25px;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
}